# Python virtual environments
casx_env/
venv/
env/
__pycache__/
*.py[cod]

# Raw data folders
data/raw/
CAS_X_v2/data/raw/

# Massive file extensions to always ignore
*.tar
*.zip
*.gz
*.parquet

# Specific giant text files
CAS_X_v2/data/raw/expression/GPL6244-17930.txt

# OS files
.DS_Store
Thumbs.db
results/tiff_figures/
CAS_X_v2/
archive_v1/
results/tiff_figures/
CAS_X_v2/
archive_v1/
